* {
  box-sizing: border-box;
}

header,
main{
  padding: 0.3rem;
  margin-left: auto;
  margin-top: 2px;
}

header nav {
  display: flex;
  gap: 1rem;
}

img {
  padding: 2px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
    padding:0.3rem
}

footer{
  clear:both;
  font-style: italic;
  font-size: x-small;
  background-color:goldenrod;
  text-align: center;
  margin-top: 1rem;
}


@media (max-width: 600px) {
  body {
    
body {
    margin:auto;
    font-size: 1rem;
    line-height: 1.6;
    padding: 1rem;
  }
}
}